src/batch-job-states.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Pass",
    "States":
    {
        "Pass":
        {
            "Type": "Pass",
            "Parameters":
            {
                "JobName.$": "$.detail.jobName",
                "JobId.$": "$.detail.jobId",
                "JobQueue.$": "$.detail.jobQueue",
                "Region.$": "$.region",
                "JobDefinition.$": "$.detail.jobDefinition",
                "LastEventType.$": "$.detail.status",
                "LastEventTime.$": "$.time",
                "Detail.$": "$.detail"
            },
            "Next": "Choice"
        },
        "Choice":
        {
            "Type": "Choice",
            "Choices":
            [
                {
                    "Or":
                    [
                        {
                            "Variable": "$.LastEventType",
                            "StringMatches": "SUCCEEDED"
                        },
                        {
                            "Or":
                            [
                                {
                                    "And":
                                    [
                                        {
                                            "Variable": "$.LastEventType",
                                            "StringMatches": "FAILED"
                                        },
                                        {
                                            "Variable": "$.Detail.container.taskArn",
                                            "IsPresent": true
                                        }
                                    ]
                                }
                            ]
                        }
                    ],
                    "Next": "DynamoDB Update Job"
                },
                {
                    "Variable": "$.LastEventType",
                    "StringMatches": "RUNNING",
                    "Next": "Set VCPU and MEMORY"
                }
            ],
            "Default": "Success"
        },
        "Set VCPU and MEMORY":
        {
            "Type": "Choice",
            "Choices":
            [
                {
                    "And":
                    [
                        {
                            "Variable": "$$.Execution.Input.detail.container.resourceRequirements[1].type",
                            "StringMatches": "VCPU"
                        },
                        {
                            "Variable": "$$.Execution.Input.detail.container.resourceRequirements[0].type",
                            "StringMatches": "MEMORY"
                        }
                    ],
                    "Next": "Set VCPU [1] and MEMORY [0]"
                },
                {
                    "And":
                    [
                        {
                            "Variable": "$$.Execution.Input.detail.container.resourceRequirements[0].type",
                            "StringMatches": "VCPU"
                        },
                        {
                            "Variable": "$$.Execution.Input.detail.container.resourceRequirements[1].type",
                            "StringMatches": "MEMORY"
                        }
                    ],
                    "Next": "Set VCPU [0] and MEMORY [1]"
                }
            ],
            "Default": "Fail"
        },
        "Set VCPU [0] and MEMORY [1]":
        {
            "Type": "Pass",
            "Next": "ChoicePlatform",
            "ResultPath": "$.Resource",
            "Parameters":
            {
                "VCPU.$": "$.Detail.container.resourceRequirements[0].value",
                "MEMORY.$": "$.Detail.container.resourceRequirements[1].value"
            }
        },
        "Set VCPU [1] and MEMORY [0]":
        {
            "Type": "Pass",
            "Next": "ChoicePlatform",
            "ResultPath": "$.Resource",
            "Parameters":
            {
                "VCPU.$": "$.Detail.container.resourceRequirements[1].value",
                "MEMORY.$": "$.Detail.container.resourceRequirements[0].value"
            }
        },
        "Fail":
        {
            "Type": "Fail"
        },
        "ChoicePlatform":
        {
            "Type": "Choice",
            "Choices":
            [
                {
                    "And":
                    [
                        {
                            "Variable": "$.Detail.platformCapabilities[0]",
                            "IsPresent": true
                        },
                        {
                            "Variable": "$.Detail.platformCapabilities[0]",
                            "StringMatches": "FARGATE"
                        }
                    ],
                    "Next": "DynamoDB PutItem FARGATE"
                }
            ],
            "Default": "DynamoDB GetItem Instance Arn"
        },
        "DynamoDB GetItem Instance Arn":
        {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:getItem",
            "Parameters":
            {
                "TableName": "${ECSRegistrationTable}",
                "Key":
                {
                    "containerInstanceArn":
                    {
                        "S.$": "$.Detail.container.containerInstanceArn"
                    }
                }
            },
            "Next": "DynamoDB PutItem EC2",
            "ResultPath": "$.Instance"
        },
        "DynamoDB PutItem EC2":
        {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters":
            {
                "TableName": "${BatchJobData}",
                "Item":
                {
                    "taskArn":
                    {
                        "S.$": "$$.Execution.Input.detail.container.taskArn"
                    },
                    "jobName":
                    {
                        "S.$": "$$.Execution.Input.detail.jobName"
                    },
                    "jobId":
                    {
                        "S.$": "$$.Execution.Input.detail.jobId"
                    },
                    "startedAt":
                    {
                        "N.$": "States.Format('{}',$$.Execution.Input.detail.startedAt)"
                    },
                    "jobStatus":
                    {
                        "S.$": "$$.Execution.Input.detail.status"
                    },
                    "jobQueue":
                    {
                        "S.$": "$$.Execution.Input.detail.jobQueue"
                    },
                    "vCPUs":
                    {
                        "N.$": "$.Resource.VCPU"
                    },
                    "memory":
                    {
                        "N.$": "$.Resource.MEMORY"
                    },
                    "containerInstanceArn":
                    {
                        "S.$": "$$.Execution.Input.detail.container.containerInstanceArn"
                    },
                    "purchaseOption":
                    {
                        "S.$": "$.Instance.Item.PurchaseOption.S"
                    },
                    "instanceType":
                    {
                        "S.$": "$.Instance.Item.InstanceType.S"
                    },
                    "availabilityZone":
                    {
                        "S.$": "$.Instance.Item.AvailabilityZone.S"
                    },
                    "instanceId":
                    {
                        "S.$": "$.Instance.Item.InstanceId.S"
                    },
                    "platform":
                    {
                        "S": "EC2"
                    },
                    "logStream":
                    {
                        "S.$": "$$.Execution.Input.detail.container.logStreamName"
                    }
                }
            },
            "Next": "Success"
        },
        "DynamoDB PutItem FARGATE":
        {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters":
            {
                "TableName": "${BatchJobData}",
                "Item":
                {
                    "taskArn":
                    {
                        "S.$": "$$.Execution.Input.detail.container.taskArn"
                    },
                    "jobName":
                    {
                        "S.$": "$$.Execution.Input.detail.jobName"
                    },
                    "jobId":
                    {
                        "S.$": "$$.Execution.Input.detail.jobId"
                    },
                    "startedAt":
                    {
                        "S.$": "States.Format('{}',$$.Execution.Input.detail.startedAt)"
                    },
                    "jobStatus":
                    {
                        "S.$": "$$.Execution.Input.detail.status"
                    },
                    "jobQueue":
                    {
                        "S.$": "$$.Execution.Input.detail.jobQueue"
                    },
                    "vCPUs":
                    {
                        "N.$": "$$.Execution.Input.detail.container.resourceRequirements[0].value"
                    },
                    "memory":
                    {
                        "N.$": "$$.Execution.Input.detail.container.resourceRequirements[1].value"
                    },
                    "platform":
                    {
                        "S.$": "$$.Execution.Input.detail.platformCapabilities[0]"
                    },
                    "logStream":
                    {
                        "S.$": "$$.Execution.Input.detail.container.logStreamName"
                    }
                }
            },
            "Next": "Success"
        },
        "DynamoDB Update Job":
        {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters":
            {
                "TableName": "${BatchJobData}",
                "Key":
                {
                    "jobId":
                    {
                        "S.$": "$.Detail.jobId"
                    }
                },
                "UpdateExpression": "SET stoppedAt = :myValueRef, jobStatus=:jobStatus",
                "ExpressionAttributeValues":
                {
                    ":myValueRef":
                    {
                         "S.$": "States.Format('{}',$.Detail.stoppedAt)"
                    },
                    ":jobStatus":
                    {
                        "S.$": "$.LastEventType"
                    }
                }
            },
            "Next": "Success"
        },
        "Success":
        {
            "Type": "Succeed"
        }
    }
}